{% extends "base.html" %}

{% block title%}
  Result
{% endblock %}

{% block content%}
<h4> About The Application </h4>
<p>
  This is a simple Quiz Application, which offers simple quiz in four categories.
  Each category contains 10 questions. When user submit the answer, user gets his/her
  score and the efficiency on the basis of his/her answers.
</p>
<br>
<h4> Developed By </h4>
<p>
  Rokhshana-Nishat-Anzum <br>
  Department Of Computer Science & Engineering <br>
  University Of Asia Pacific <br>
</p>
<br>
{% endblock %}
