{% extends "base.html" %}

{% block title%}
  Contact
{% endblock %}

{% block content%}
<div class="row">
  <div class="col-md-3">
    {% load static %}
    <img src="{% static 'img/nishat.JPG' %}" class="img-responsive img-rounded" alt="">
  </div>
  <div class="col-md-9">
    <h4>
    <div class="row">
      <div class="col-sm-1">
        Name:
      </div>
      <div class="col-sm-3">
        Rokhshana-Nishat-Anzum
      </div>
    </div><br><br>
    <div class="row">
      <div class="col-xs-1">
        Email:
      </div>
      <div class="col-xs-4">
        rokhshana.nishat.ansum@gmail.com
      </div>
    </div><br><br>
    <div class="row">
      <div class="col-xs-1">
        Github:
      </div>
      <div class="col-xs-2">
        <a href="https://github.com/nishatuap">
        https://github.com/nishatuap
        </a>
      </div>
    </div><br><br>
    <div class="row">
      <div class="col-sm-1">
        FB:
      </div>
      <div class="col-sm-2">
         https://www.facebook.com/rokhshana.nishat.anzum
      </div>
    </div>
    </h4>
  </div>
</div>
{% endblock %}
